

.box_P {
    width: 500px;
    height: auto;
    margin: 50px auto;
}

.box_C {
    border: 0.5px solid rgb(142, 142, 142);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}