



#home {
  background-color: #F1F5F9;
}

.navStyle {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
}
.header {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.content {
  width: 75%;
  height: auto;
  border: 1px solid #000;
  margin: 100px auto;
}

.contentColumn {
  width: 100%;
  margin: 0 auto 100px auto;
  display: flex;
  justify-content: space-between;
}